.nav nav-pills {
  align-content: center;
}
.logo {
  width: 150px;
  height: 150px;
  /* background-image: url("cwvacation.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}
