.nav nav-pills {
  align-content: center;
}
.logo {
  width: 150px;
  height: 150px;
  /* background-image: url("cwvacation.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}
footer {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  width: 100vw;
  justify-content: center;
  margin: 15px 0;
}
footer a i {
  color: rgb(233, 233, 237);
  font-size: 36px;
  margin: 0 10px;
  transition: color 0.3s;
}
